/* borjaMontseny DAW2 M09 2023 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

.video-container {
    width: 50%;
    position: relative;
    padding-bottom: 28.13%;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

/* Ajustem el tamany del video per pantalles < 600px */
@media (max-width: 600px) {
    .video-container {
        width: 90%;
        height: 90%;
    }
}

table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d3d3d3;
}

td {
    background-color: #d0d0d0;
}